
playSpring4Spark/.idea
**/target
*.prefs
playSpring4Spark/.settings
playSpring4Spark/.springBeans
playSpring4Spark/.project
playSpring4Spark/.classpath
playSpring4Spark/derby.log
playSpring4Spark/metastore_db
playSpring4Spark/spark-warehouse
*.log
playSpring4Spark/logs
